@media screen and (max-width:600px) {
    .group{
        color: white;
        height: 600px;
    }
    .group span{
        text-align: center;
        color: white;
        padding: 10px;
        margin: 5px;
    }
}